.content{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	background-color: #444;
	padding:	10px;
	margin:		10px;
	border-color: #777;
	border-style:solid;
	border-width: 1px;
	text-align:	center;
}

.instructions{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	background-color: #ccc;
	color:			black;
	display:	inline-block;
	padding:	10px;
	margin:		10px;
	border-color: #777;
	border-style:solid;
	border-width: 1px;
}

.important{
	font-weight: bolder;
	font-style:	italic;	
}

.title{
	color: white;
	padding:	10px;
	margin:		10px;
	font-size: large;
	font-weight:	bold;
}

#centerContainer{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

